.tab-name {
    height: 90%;
}

.active-tab {
    color: green;
    border: green 1px solid;
    border-radius: 5px;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-bottom: none !important;
}