<ul class="nav md-pills pills-unique">
    <li class="nav-item" *ngFor="let data of dataModel" [ngClass]="{'active-tab': data.tabName === currentTab}">
        <a class="nav-link" (click)="setCurrentTab(data.tabName)">{{data.tabName}}</a>
    </li>
</ul>