<section>
    <div class="row row-container">
        <div class="col-md-6 input-btn">
            <input type="text" class="form-control" placeholder="Enter Value" [(ngModel)]="newEnum">
            <button class="btn btn-info" (click)="addEnum()">Add</button>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-4" *ngFor="let item of data.enumerations; let i = index">
                    <button class="btn btn-link btn-enums" (click)="deleteEnum(i)">{{item}}
                        <i class="fas fa-trash-alt fa-1x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="showRepeatedError">
        <div class="col-md-6">
            <label class="error-label">Please enter a non-repeated value</label>
        </div>
    </div>
</section>