input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.row-container {
    margin-top: 15px;
}

.input-btn {
    display: inline-flex;
}

.btn-info {
    max-height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: -1px;
}

.btn-enums {
    margin-bottom: 5px;
    text-transform: none;
}
.error-label {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}