<section [formGroup]="dataForm">
    <div class="row">
        <div class="col">
            <label class="label">{{label}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" formControlName="{{controlName}}" (input)="verifyOnlyNumber()" [ngClass]="{error: getIfError()}">
        </div>
    </div>
    <div class="row">
        <div class="col error-label">
            <label *ngIf="getIfError()">Please enter a valid value {{customError != '' ? ' and ' + customError : ''}}</label>
        </div>
    </div>
</section>

