input {
    width: 100%;
    
}

.label {
    color: darkcyan;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.error {
    border-color: red;
}

.error-label {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
}