<section [formGroup]="dataForm">
    <div class="row">
        <div class="col">
            <label class="label">{{label}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select class="form-control" formControlName="{{controlName}}">
                <option *ngFor="let option of options" [selected]="dataForm.get(controlName).value == option">{{option}}</option>
            </select>
        </div>
    </div>
</section>