input {
    width: 100%;
}

.btn-expand {
    margin-top: 24px;
    color: white;
}

.card {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}