<div class=" card">
    <form [formGroup]="data.form">
        <div class="row">
            <div class="col-md-4">
                <app-text-input label="Name" [dataForm]="data.form" controlName="name" customError="verify the name is not used in another attribute"></app-text-input>
            </div>
            <div class="col-md-5">
                <app-text-input label="Description" [dataForm]="data.form" controlName="description"></app-text-input>
            </div>
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-primary btn-expand" data-toggle="collapse" href="#collapseForm{{id}}" role="button"
                            aria-expanded="false">
                            <i class="fas fa-expand-arrows-alt fa-1x"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-expand" (click)="deleteAtttribute()">
                            <i class="fas fa-trash-alt fa-1x"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="collapse" id="collapseForm{{id}}">
            <div class="row">
                <div class="col-md-4">
                    <app-select-input label="Device Resource Type" [dataForm]="data.form" controlName="resourceType"></app-select-input>
                </div>
                <div class="col-md-8">
                    <app-text-input label="Default Value" [dataForm]="data.form" controlName="defaultValue"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <app-select-input label="Data Type" [dataForm]="data.form" controlName="dataType" [options]="dataTypes"></app-select-input>
                </div>
                <div class="col-md-6">
                    <app-select-input label="Format" [dataForm]="data.form" controlName="format" [options]="formats"></app-select-input>
                </div>
            </div>
            <div [ngSwitch]="this.data.form.get('dataType').value">
                <div *ngSwitchCase="'OBJECT'">

                </div>
                <div *ngSwitchCase="'STRING'">
                    <div [ngSwitch]="this.data.form.get('format').value">
                        <div *ngSwitchCase="'NONE'">
                            <app-none-form [data]="data" (addEnumEmitter)="addEnum($event)" (deleteEnumEmitter)="deleteEnum($event)"></app-none-form>
                        </div>
                        <div *ngSwitchCase="'NUMBER'">
                            <app-number-form-component [data]="data"></app-number-form-component>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>