<section>
    <form [formGroup]="data.form.get('number')">
        <div class="row">
            <div class="col-md-6">
                <app-text-input label="Range Min" [dataForm]="data.form.get('number')" controlName="rangeMin"
                    onlyNumber="true"></app-text-input>
            </div>
            <div class="col-md-6">
                <app-text-input label="Range Max" [dataForm]="data.form.get('number')" controlName="rangeMax"
                    onlyNumber="true" customError="verify that Range Max is greater than Range Min"></app-text-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-text-input label="Units of Measurement" [dataForm]="data.form.get('number')" controlName="units"></app-text-input>
            </div>
            <div class="col-md-4">
                <app-text-input label="Precision" [dataForm]="data.form.get('number')" controlName="precision"
                    onlyNumber="true"></app-text-input>
            </div>
            <div class="col-md-4">
                <app-text-input label="Accuracy" [dataForm]="data.form.get('number')" controlName="accuracy" onlyNumber="true"></app-text-input>
            </div>
        </div>
    </form>
</section>