<section id="home_container">
    <div class="row">
        <div class="col">
            <app-navbar-home-component (addTabEmitter)="addTab($event)" (currentTabEmitter)="setCurrentTab($event)"
                [dataModel]="dataModel"></app-navbar-home-component>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-lg-8">
                <ng-container *ngIf="currentTab && currentTab.data.length > 0">
                    <div class="row" *ngFor="let data of currentTab.data; let i = index">
                        <div class="col">
                            <app-form-component [data]="data" [id]="i" (dataTypeEmitter)="setDataType($event)"
                                (formatEmitter)="setFormat($event)" (deleteAttributeEmitter)="deleteAttribute($event)"></app-form-component>
                        </div>
                    </div>
                </ng-container>

                <div class="card">
                    <div class="row">
                        <div class="col text-left">
                            <button id="add-form-btn" (click)="addForm()" class="btn btn-info">ADD ATTRIBUTE</button>
                        </div>
                        <div class="col text-left">
                            <button class="btn btn-expand" [ngClass]="{'btn-secondary': !isTabAttributesValid(), 'btn-success': isTabAttributesValid()}"
                                (click)="save()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" *ngIf="dataModel && dataModel.length > 0">
                <app-json-view-component [dataModel]="dataModel"></app-json-view-component>
            </div>
        </div>
    </div>
</section>